[submodule "packages/terra-rust-signal-bot/packages/terra-rust-signal-bot/packages/presage"]
	path = packages/terra-rust-signal-bot/packages/terra-rust-signal-bot/packages/presage
	url = https://github.com/Philipp-Sc/presage.git
